@page
@model HilleroedSejlKlub_Project.Pages.EventsModel
@using HilleroedSejlKlub_Project.Models

<h2>Events</h2>

<ul>
    @foreach (Event evt in Model.Events)
    {
        <li>
            <strong>@evt.Name</strong> - @evt.Date.ToShortDateString()
            <br />
            <a asp-page="/EventDetails" asp-route-id="@evt.Id">View / Register</a>
        </li>
    }
</ul>
