@page
@model HilleroedSejlKlub_Project.Pages.Log_inModel
@{
}
<div class="d-grid">
	<button> <a href=".../Pages/Create user.cshtml" class="btn btn-info" role="button">Create a user</a></button>
</div>

